.app-layout {
  min-height: 100vh;
}

.menu-sidebar {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

nz-header {
  background: #fff;
  padding: 0 24px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 88px);
}
