<nz-modal
  [(nzVisible)]="visible"
  [nzTitle]="isEditMode ? 'Edit Detail Transaksi' : 'Tambah Detail Transaksi'"
  [nzOkText]="isEditMode ? 'Update' : 'Tambah'"
  nzCancelText="Batal"
  [nzOkLoading]="isLoading"
  [nzWidth]="800"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()">
  
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="detailForm" nzLayout="vertical">
      
      <!-- Tanggal Transaksi -->
      <nz-form-item>
        <nz-form-label nzRequired>Tanggal Transaksi</nz-form-label>
        <nz-form-control nzErrorTip="Tanggal transaksi harus diisi">
          <nz-date-picker
            formControlName="tanggalTransaksi"
            nzPlaceHolder="Pilih tanggal transaksi"
            style="width: 100%;">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      
      <!-- Penerima -->
      <nz-form-item>
        <nz-form-label>Penerima</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="penerima"
            placeholder="Nama penerima (opsional)">
        </nz-form-control>
      </nz-form-item>
      
      <!-- Anggaran Fields (Disabled in Edit Mode) -->
      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Program</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeProgram" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Kegiatan</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeKegiatan" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Output</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeOutput" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Suboutput</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeSuboutput" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Komponen</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeKomponen" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Subkomponen</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeSubkomponen" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Akun</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeAkun" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Item</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.namaItem" disabled>
        </nz-form-control>
      </nz-form-item>

      <!-- Cascade Dropdowns (Hidden in Edit Mode) -->
      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Program</nz-form-label>
        <nz-form-control nzErrorTip="Program harus dipilih">
          <nz-select
            formControlName="kodeProgram"
            nzShowSearch
            nzPlaceHolder="Pilih Program">
            <nz-option
              *ngFor="let prog of programs"
              [nzValue]="prog.kodeProgram"
              [nzLabel]="prog.kodeProgram">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Kegiatan</nz-form-label>
        <nz-form-control nzErrorTip="Kegiatan harus dipilih">
          <nz-select
            formControlName="kodeKegiatan"
            nzShowSearch
            nzPlaceHolder="Pilih Kegiatan"
            [nzDisabled]="!detailForm.get('kodeProgram')?.value">
            <nz-option
              *ngFor="let keg of kegiatans"
              [nzValue]="keg.kodeKegiatan"
              [nzLabel]="keg.kodeKegiatan">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Output</nz-form-label>
        <nz-form-control nzErrorTip="Output harus dipilih">
          <nz-select
            formControlName="kodeOutput"
            nzShowSearch
            nzPlaceHolder="Pilih Output"
            [nzDisabled]="!detailForm.get('kodeKegiatan')?.value">
            <nz-option
              *ngFor="let out of outputs"
              [nzValue]="out.kodeOutput"
              [nzLabel]="out.kodeOutput">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Suboutput</nz-form-label>
        <nz-form-control nzErrorTip="Suboutput harus dipilih">
          <nz-select
            formControlName="kodeSuboutput"
            nzShowSearch
            nzPlaceHolder="Pilih Suboutput"
            [nzDisabled]="!detailForm.get('kodeOutput')?.value">
            <nz-option
              *ngFor="let sub of suboutputs"
              [nzValue]="sub.kodeSuboutput"
              [nzLabel]="sub.kodeSuboutput">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Komponen</nz-form-label>
        <nz-form-control nzErrorTip="Komponen harus dipilih">
          <nz-select
            formControlName="kodeKomponen"
            nzShowSearch
            nzPlaceHolder="Pilih Komponen"
            [nzDisabled]="!detailForm.get('kodeSuboutput')?.value">
            <nz-option
              *ngFor="let komp of komponens"
              [nzValue]="komp.kodeKomponen"
              [nzLabel]="komp.kodeKomponen">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Subkomponen</nz-form-label>
        <nz-form-control nzErrorTip="Subkomponen harus dipilih">
          <nz-select
            formControlName="kodeSubkomponen"
            nzShowSearch
            nzPlaceHolder="Pilih Subkomponen"
            [nzDisabled]="!detailForm.get('kodeKomponen')?.value">
            <nz-option
              *ngFor="let subkomp of subkomponens"
              [nzValue]="subkomp.kodeSubkomponen"
              [nzLabel]="subkomp.kodeSubkomponen">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Akun</nz-form-label>
        <nz-form-control nzErrorTip="Akun harus dipilih">
          <nz-select
            formControlName="kodeAkun"
            nzShowSearch
            nzPlaceHolder="Pilih Akun"
            [nzDisabled]="!detailForm.get('kodeSubkomponen')?.value">
            <nz-option
              *ngFor="let akun of akuns"
              [nzValue]="akun.kodeAkun"
              [nzLabel]="akun.kodeAkun">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Item</nz-form-label>
        <nz-form-control nzErrorTip="Item harus dipilih">
          <nz-select
            formControlName="kodeItem"
            nzShowSearch
            nzPlaceHolder="Pilih Item"
            [nzDisabled]="!detailForm.get('kodeAkun')?.value">
            <nz-option
              *ngFor="let item of items"
              [nzValue]="item.kodeItem"
              [nzLabel]="item.namaItem">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- Nilai Transaksi -->
      <nz-form-item>
        <nz-form-label nzRequired>Nilai Transaksi</nz-form-label>
        <nz-form-control nzErrorTip="Nilai transaksi harus diisi dan > 0">
          <nz-input-number
            formControlName="nilaiTransaksi"
            [nzMin]="1"
            [nzStep]="1000"
            [nzFormatter]="formatRupiah"
            [nzParser]="parseRupiah"
            placeholder="Masukkan nilai transaksi"
            style="width: 100%;">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Uraian -->
      <nz-form-item>
        <nz-form-label nzRequired>Uraian</nz-form-label>
        <nz-form-control nzErrorTip="Uraian harus diisi">
          <textarea
            nz-input
            formControlName="uraian"
            rows="2"
            placeholder="Uraian detail transaksi">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Penerima removed from here -->
      <div nz-row [nzGutter]="16" style="display:none;">
        <div nz-col [nzSpan]="24">
          <!-- placeholder -->
        </div>
      </div>

      <nz-divider nzText="Potongan Pajak"></nz-divider>

      <!-- Pajak Section -->
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>PPN</nz-form-label>
            <nz-form-control>
              <nz-input-number
                formControlName="ppn"
                [nzMin]="0"
                [nzStep]="1000"
                [nzFormatter]="currencyFormatter"
                [nzParser]="currencyParser"
                style="width: 100%;">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>PPH 21</nz-form-label>
            <nz-form-control>
              <nz-input-number
                formControlName="pph21"
                [nzMin]="0"
                [nzStep]="1000"
                [nzFormatter]="currencyFormatter"
                [nzParser]="currencyParser"
                style="width: 100%;">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>PPH 22</nz-form-label>
            <nz-form-control>
              <nz-input-number
                formControlName="pph22"
                [nzMin]="0"
                [nzStep]="1000"
                [nzFormatter]="currencyFormatter"
                [nzParser]="currencyParser"
                style="width: 100%;">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>PPH 23</nz-form-label>
            <nz-form-control>
              <nz-input-number
                formControlName="pph23"
                [nzMin]="0"
                [nzStep]="1000"
                [nzFormatter]="currencyFormatter"
                [nzParser]="currencyParser"
                style="width: 100%;">
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- Calculated Totals -->
      <div class="total-section">
        <div class="total-row">
          <span class="total-label">Jumlah Harga:</span>
          <span class="total-value">Rp {{ totalNilai | number: '1.0-0' }}</span>
        </div>
        <div class="total-row">
          <span class="total-label">PPN:</span>
          <span class="total-value">Rp {{ (detailForm.get('ppn')?.value || 0) | number: '1.0-0' }}</span>
        </div>
        <div class="total-row">
          <span class="total-label">Total PPH:</span>
          <span class="total-value">Rp {{ totalPPH | number: '1.0-0' }}</span>
        </div>
        <nz-divider></nz-divider>
        <div class="total-row final">
          <span class="total-label"><strong>Nilai Bersih:</strong></span>
          <span class="total-value"><strong>Rp {{ nilaiBersih | number: '1.0-0' }}</strong></span>
        </div>
      </div>
      
      <!-- Pagu Info Alert -->
      <nz-alert 
        *ngIf="paguInfo && !isEditMode"
        [nzType]="paguInfo.isOverPagu ? 'error' : 'info'"
        [nzShowIcon]="true"
        style="margin-top: 16px;">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <div class="pagu-info-item">
              <span class="label">Pagu:</span>
              <span class="value">Rp {{ paguInfo.pagu | number: '1.0-0' }}</span>
            </div>
            <div class="pagu-info-item">
              <span class="label">Realisasi:</span>
              <span class="value">Rp {{ paguInfo.realisasi | number: '1.0-0' }}</span>
            </div>
          </div>
          <div nz-col [nzSpan]="12">
            <div class="pagu-info-item">
              <span class="label">Sisa Pagu:</span>
              <span class="value">Rp {{ paguInfo.sisaPagu | number: '1.0-0' }}</span>
            </div>
            <div class="pagu-info-item">
              <span class="label">Nilai Input:</span>
              <span class="value">Rp {{ paguInfo.nilaiInput | number: '1.0-0' }}</span>
            </div>
          </div>
        </div>
        <div style="margin-top: 8px; padding-top: 8px; border-top: 1px solid rgba(0,0,0,0.1);">
          <strong>Sisa setelah input: </strong>
          <span [style.color]="paguInfo.isOverPagu ? 'red' : 'green'">
            Rp {{ paguInfo.sisaSetelahInput | number: '1.0-0' }}
          </span>
          <span *ngIf="paguInfo.isOverPagu" style="color: red; margin-left: 8px;">
            ⚠️ Melebihi pagu yang tersedia!
          </span>
        </div>
      </nz-alert>
      
    </form>
  </ng-container>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Batal</button>
    <button 
      nz-button 
      nzType="primary" 
      [nzLoading]="isLoading"
      [disabled]="!detailForm.valid || !isPaguValid"
      (click)="handleOk()">
      {{ isEditMode ? 'Update' : 'Tambah' }}
    </button>
  </div>
</nz-modal>
