<nz-modal
  [(nzVisible)]="visible"
  [nzTitle]="isEditMode ? 'Edit Detail Transaksi' : 'Tambah Detail Transaksi'"
  [nzOkText]="isEditMode ? 'Update' : 'Tambah'"
  nzCancelText="Batal"
  [nzOkLoading]="isLoading"
  [nzWidth]="800"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()">
  
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="detailForm" nzLayout="vertical">
      
      <!-- Tanggal Transaksi -->
      <nz-form-item>
        <nz-form-label nzRequired>Tanggal Transaksi</nz-form-label>
        <nz-form-control nzErrorTip="Tanggal transaksi harus diisi">
          <nz-date-picker
            formControlName="tanggalTransaksi"
            nzPlaceHolder="Pilih tanggal transaksi"
            style="width: 100%;">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      
      <!-- Penerima -->
      <nz-form-item>
        <nz-form-label>Penerima</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="penerimaId"
            nzAllowClear
            nzShowSearch
            nzPlaceHolder="Pilih penerima (opsional)"
            style="width: 100%;">
            <nz-option 
              *ngFor="let supplier of suppliers" 
              [nzValue]="supplier.id" 
              [nzLabel]="supplier.nama">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      
      <!-- Anggaran Fields (Disabled in Edit Mode) -->
      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Program</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeProgram" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Kegiatan</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeKegiatan" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Output</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeOutput" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Suboutput</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeSuboutput" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Komponen</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeKomponen" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Subkomponen</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeSubkomponen" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Akun</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.kodeAkun" disabled>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isEditMode">
        <nz-form-label>Item</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="detail?.namaItem" disabled>
        </nz-form-control>
      </nz-form-item>

      <!-- Cascade Dropdowns (Hidden in Edit Mode) -->
      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Program</nz-form-label>
        <nz-form-control nzErrorTip="Program harus dipilih">
          <nz-select
            formControlName="kodeProgram"
            nzShowSearch
            nzPlaceHolder="Pilih Program">
            <nz-option
              *ngFor="let prog of programs"
              [nzValue]="prog.kodeProgram"
              [nzLabel]="prog.kodeProgram">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Kegiatan</nz-form-label>
        <nz-form-control nzErrorTip="Kegiatan harus dipilih">
          <nz-select
            formControlName="kodeKegiatan"
            nzShowSearch
            nzPlaceHolder="Pilih Kegiatan"
            [nzDisabled]="!detailForm.get('kodeProgram')?.value">
            <nz-option
              *ngFor="let keg of kegiatans"
              [nzValue]="keg.kodeKegiatan"
              [nzLabel]="keg.kodeKegiatan">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Output</nz-form-label>
        <nz-form-control nzErrorTip="Output harus dipilih">
          <nz-select
            formControlName="kodeOutput"
            nzShowSearch
            nzPlaceHolder="Pilih Output"
            [nzDisabled]="!detailForm.get('kodeKegiatan')?.value">
            <nz-option
              *ngFor="let out of outputs"
              [nzValue]="out.kodeOutput"
              [nzLabel]="out.kodeOutput">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Suboutput</nz-form-label>
        <nz-form-control nzErrorTip="Suboutput harus dipilih">
          <nz-select
            formControlName="kodeSuboutput"
            nzShowSearch
            nzPlaceHolder="Pilih Suboutput"
            [nzDisabled]="!detailForm.get('kodeOutput')?.value">
            <nz-option
              *ngFor="let sub of suboutputs"
              [nzValue]="sub.kodeSuboutput"
              [nzLabel]="sub.kodeSuboutput">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Komponen</nz-form-label>
        <nz-form-control nzErrorTip="Komponen harus dipilih">
          <nz-select
            formControlName="kodeKomponen"
            nzShowSearch
            nzPlaceHolder="Pilih Komponen"
            [nzDisabled]="!detailForm.get('kodeSuboutput')?.value">
            <nz-option
              *ngFor="let komp of komponens"
              [nzValue]="komp.kodeKomponen"
              [nzLabel]="komp.kodeKomponen">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Subkomponen</nz-form-label>
        <nz-form-control nzErrorTip="Subkomponen harus dipilih">
          <nz-select
            formControlName="kodeSubkomponen"
            nzShowSearch
            nzPlaceHolder="Pilih Subkomponen"
            [nzDisabled]="!detailForm.get('kodeKomponen')?.value">
            <nz-option
              *ngFor="let subkomp of subkomponens"
              [nzValue]="subkomp.kodeSubkomponen"
              [nzLabel]="subkomp.kodeSubkomponen">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Akun</nz-form-label>
        <nz-form-control nzErrorTip="Akun harus dipilih">
          <nz-select
            formControlName="kodeAkun"
            nzShowSearch
            nzPlaceHolder="Pilih Akun"
            [nzDisabled]="!detailForm.get('kodeSubkomponen')?.value">
            <nz-option
              *ngFor="let akun of akuns"
              [nzValue]="akun.kodeAkun"
              [nzLabel]="akun.kodeAkun">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!isEditMode">
        <nz-form-label nzRequired>Item</nz-form-label>
        <nz-form-control nzErrorTip="Item harus dipilih">
          <nz-select
            formControlName="kodeItem"
            nzShowSearch
            nzPlaceHolder="Pilih Item"
            [nzDisabled]="!detailForm.get('kodeAkun')?.value">
            <nz-option
              *ngFor="let item of items"
              [nzValue]="item.kodeItem"
              [nzLabel]="item.namaItem">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- Nilai Transaksi -->
      <nz-form-item>
        <nz-form-label nzRequired>Nilai Transaksi</nz-form-label>
        <nz-form-control nzErrorTip="Nilai transaksi harus diisi dan > 0">
          <nz-input-number
            formControlName="nilaiTransaksi"
            [nzMin]="1"
            [nzStep]="1000"
            [nzFormatter]="formatRupiah"
            [nzParser]="parseRupiah"
            placeholder="Masukkan nilai transaksi"
            style="width: 100%;">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Uraian -->
      <nz-form-item>
        <nz-form-label nzRequired>Uraian</nz-form-label>
        <nz-form-control nzErrorTip="Uraian harus diisi">
          <textarea
            nz-input
            formControlName="uraian"
            rows="2"
            placeholder="Uraian detail transaksi">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Penerima removed from here -->
      <div nz-row [nzGutter]="16" style="display:none;">
        <div nz-col [nzSpan]="24">
          <!-- placeholder -->
        </div>
      </div>

      <nz-divider nzText="Potongan Pajak"></nz-divider>

      <!-- Pajak Section - Checkbox Style with Editable Values -->
      <div class="tax-section">
        <nz-form-item>
          <nz-form-label>Pajak yang Berlaku</nz-form-label>
          <nz-form-control>
            <div class="tax-list-grid">
              <!-- Column 1 -->
              <div class="tax-column">
                <!-- PPN -->
                <div class="tax-item-row">
                  <label nz-checkbox 
                         [nzChecked]="appliedTaxes.ppn"
                         (nzCheckedChange)="toggleTax('ppn', $event)">
                    PPN ({{ taxRates.ppn | number:'1.2-2' }}%)
                  </label>
                  <ng-container *ngIf="appliedTaxes.ppn">
                    <nz-input-number
                      [(ngModel)]="calculatedTaxes.ppn"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="onTaxManualEdit('ppn', $event)"
                      [nzMin]="0"
                      [nzStep]="1000"
                      [nzFormatter]="formatNumber"
                      [nzParser]="parseNumber"
                      style="width: 200px; margin-left: 12px;"
                      placeholder="Masukkan nilai pajak">
                    </nz-input-number>
                  </ng-container>
                </div>

                <!-- PPH 21 -->
                <div class="tax-item-row">
                  <label nz-checkbox 
                         [nzChecked]="appliedTaxes.pph21"
                         (nzCheckedChange)="toggleTax('pph21', $event)">
                    PPH 21 ({{ taxRates.pph21 | number:'1.2-2' }}%)
                  </label>
                  <ng-container *ngIf="appliedTaxes.pph21">
                    <nz-input-number
                      [(ngModel)]="calculatedTaxes.pph21"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="onTaxManualEdit('pph21', $event)"
                      [nzMin]="0"
                      [nzStep]="1000"
                      [nzFormatter]="formatNumber"
                      [nzParser]="parseNumber"
                      style="width: 200px; margin-left: 12px;"
                      placeholder="Masukkan nilai pajak">
                    </nz-input-number>
                  </ng-container>
                </div>
              </div>

              <!-- Column 2 -->
              <div class="tax-column">
                <!-- PPH 22 -->
                <div class="tax-item-row">
                  <label nz-checkbox 
                         [nzChecked]="appliedTaxes.pph22"
                         (nzCheckedChange)="toggleTax('pph22', $event)">
                    PPH 22 ({{ taxRates.pph22 | number:'1.2-2' }}%)
                  </label>
                  <ng-container *ngIf="appliedTaxes.pph22">
                    <nz-input-number
                      [(ngModel)]="calculatedTaxes.pph22"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="onTaxManualEdit('pph22', $event)"
                      [nzMin]="0"
                      [nzStep]="1000"
                      [nzFormatter]="formatNumber"
                      [nzParser]="parseNumber"
                      style="width: 200px; margin-left: 12px;"
                      placeholder="Masukkan nilai pajak">
                    </nz-input-number>
                  </ng-container>
                </div>

                <!-- PPH 23 -->
                <div class="tax-item-row">
                  <label nz-checkbox 
                         [nzChecked]="appliedTaxes.pph23"
                         (nzCheckedChange)="toggleTax('pph23', $event)">
                    PPH 23 ({{ taxRates.pph23 | number:'1.2-2' }}%)
                  </label>
                  <ng-container *ngIf="appliedTaxes.pph23">
                    <nz-input-number
                      [(ngModel)]="calculatedTaxes.pph23"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="onTaxManualEdit('pph23', $event)"
                      [nzMin]="0"
                      [nzStep]="1000"
                      [nzFormatter]="formatNumber"
                      [nzParser]="parseNumber"
                      style="width: 200px; margin-left: 12px;"
                      placeholder="Masukkan nilai pajak">
                    </nz-input-number>
                  </ng-container>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Calculated Totals -->
      <div class="total-section">
        <div class="total-row">
          <span class="total-label">Nilai Transaksi:</span>
          <span class="total-value">Rp {{ (detailForm.value.nilaiTransaksi || 0) | number: '1.0-0' }}</span>
        </div>
        <div class="total-row">
          <span class="total-label">Total Pajak:</span>
          <span class="total-value">Rp {{ getTotalPajak() | number: '1.0-0' }}</span>
        </div>
        <div class="total-row final">
          <span class="total-label"><strong>Nilai Bersih:</strong></span>
          <span class="total-value"><strong>Rp {{ getNilaiBersih() | number: '1.0-0' }}</strong></span>
        </div>
      </div>

      <!-- Hidden fields for form submission -->
      <input type="hidden" formControlName="ppn">
      <input type="hidden" formControlName="pph21">
      <input type="hidden" formControlName="pph22">
      <input type="hidden" formControlName="pph23">
      
      <!-- Pagu Info Alert -->
      <nz-alert 
        *ngIf="paguInfo && !isEditMode"
        [nzType]="paguInfo.isOverPagu ? 'error' : 'info'"
        [nzShowIcon]="true"
        [nzMessage]="paguInfo.isOverPagu ? 'NILAI MELEBIHI PAGU!' : 'Informasi Pagu'"
        style="margin-top: 16px;">
        
        <ng-container *nzAlertDescription>
          <div style="margin-bottom: 12px; padding-bottom: 8px; border-bottom: 1px dashed rgba(0,0,0,0.15);">
            <div style="margin-bottom: 6px;">
              <span style="color: #595959; font-size: 13px;">Pagu Anggaran:</span>
              <span style="font-weight: 600; margin-left: 8px; color: #262626;">Rp {{ paguInfo.pagu | number: '1.0-0' }}</span>
            </div>
            <div style="margin-bottom: 6px;">
              <span style="color: #595959; font-size: 13px;">Sudah Direalisasi:</span>
              <span style="color: #faad14; font-weight: 500; margin-left: 8px;">Rp {{ paguInfo.realisasi | number: '1.0-0' }}</span>
              <span style="color: #8c8c8c; font-size: 12px; margin-left: 8px;">
                ({{ (paguInfo.realisasi / paguInfo.pagu * 100) | number: '1.1-1' }}%)
              </span>
            </div>
            <div style="margin-bottom: 6px;">
              <span style="color: #595959; font-size: 13px;">Sisa Pagu Tersedia:</span>
              <span style="font-weight: 600; color: #52c41a; margin-left: 8px;">Rp {{ paguInfo.sisaPagu | number: '1.0-0' }}</span>
            </div>
          </div>
          
          <div style="background: #f5f5f5; padding: 10px; border-radius: 4px; margin-bottom: 8px;">
            <div style="margin-bottom: 4px;">
              <span style="color: #595959; font-size: 13px;">Nilai yang akan diinput:</span>
              <span [style.color]="paguInfo.isOverPagu ? '#cf1322' : '#1890ff'" style="font-weight: 700; font-size: 16px; margin-left: 8px;">
                Rp {{ paguInfo.nilaiInput | number: '1.0-0' }}
              </span>
            </div>
          </div>
          
          <div [style.padding]="'10px'" 
               [style.background]="paguInfo.isOverPagu ? '#fff2f0' : '#f6ffed'" 
               [style.border-radius]="'4px'" 
               [style.border]="paguInfo.isOverPagu ? '1px solid #ffccc7' : '1px solid #b7eb8f'">
            <div>
              <strong [style.color]="paguInfo.isOverPagu ? '#cf1322' : '#389e0d'">Sisa Pagu Setelah Input:</strong>
              <span [style.color]="paguInfo.isOverPagu ? '#cf1322' : '#52c41a'" style="font-weight: 700; font-size: 17px; margin-left: 8px;">
                Rp {{ paguInfo.sisaSetelahInput | number: '1.0-0' }}
              </span>
            </div>
          </div>
          
          <div *ngIf="paguInfo.isOverPagu" style="margin-top: 12px; padding: 12px; background: #fff1f0; border: 2px solid #ff4d4f; border-radius: 4px;">
            <div style="display: flex; align-items: start;">
              <span style="font-size: 20px; margin-right: 8px;">⚠️</span>
              <div style="flex: 1;">
                <strong style="color: #cf1322; font-size: 14px;">PERINGATAN:</strong>
                <div style="color: #cf1322; margin-top: 6px; line-height: 1.6;">
                  Nilai yang akan diinput sebesar <strong>Rp {{ paguInfo.nilaiInput | number: '1.0-0' }}</strong> 
                  melebihi sisa pagu yang tersedia sebesar <strong>Rp {{ paguInfo.sisaPagu | number: '1.0-0' }}</strong>.
                </div>
                <div style="color: #cf1322; margin-top: 6px; line-height: 1.6;">
                  Kelebihan: <strong>Rp {{ (paguInfo.nilaiInput - paguInfo.sisaPagu) | number: '1.0-0' }}</strong>
                </div>
                <div style="color: #8c8c8c; margin-top: 8px; font-size: 12px;">
                  💡 Silakan kurangi volume atau harga satuan agar tidak melebihi pagu yang tersedia.
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-alert>
      
    </form>
  </ng-container>
  
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Batal</button>
    <button 
      nz-button 
      nzType="primary" 
      [nzLoading]="isLoading"
      [disabled]="!detailForm.valid || !isPaguValid"
      (click)="handleOk()">
      {{ isEditMode ? 'Update' : 'Tambah' }}
    </button>
  </div>
</nz-modal>
