<div class="sidebar-header">
  <i nz-icon nzType="wallet" nzTheme="twotone" *ngIf="!isCollapsed" class="sidebar-logo-icon"></i>
  <h1 *ngIf="!isCollapsed" class="sidebar-title">Finance App</h1>
  <i nz-icon nzType="wallet" nzTheme="twotone" *ngIf="isCollapsed" class="sidebar-logo-icon-small"></i>
</div>

<ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" nzTheme="dark" class="sidebar-menu">
  <li nz-submenu 
      nzTitle="Transaksi" 
      nzIcon="dollar"
      [(nzOpen)]="openMap['transaksi']"
      (nzOpenChange)="openHandler('transaksi')">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/stpb">
          <span>STPB</span>
        </a>
      </li>
    </ul>
  </li>
  <li nz-submenu 
      nzTitle="Anggaran" 
      nzIcon="file-done"
      [(nzOpen)]="openMap['anggaran']"
      (nzOpenChange)="openHandler('anggaran')">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/anggaran">
          <span>Daftar Anggaran</span>
        </a>
      </li>
    </ul>
  </li>
</ul>








