.sidebar-logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .2);
  
  h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
  }
}

:host ::ng-deep {
  .ant-menu-dark {
    background: #001529;
  }
}
